
/**
* import styles
*/

@import '';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP');

html {
  background-color: white !important;
  margin: 10mm;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #fff;
  padding: 0 20px;
  margin-bottom: 20px;
}

/* frontmatter */
.frontmatter.language-yaml {
  display:block;
 }
 .frontmatter-section {
  display:none;
 }
 .frontmatter-section.mod-tags, .frontmatter-section.mod-aliases {
  display: block;
 }

/* logo */

img[title="logo"] {
  height: 80px;
  width: auto;
  position: relative;
  top: -1em;
  right: -46em;
  margin-top: -4em;
}

body {
  font-size: 8pt;
  font-family: "Times New Roman", "Noto Serif JP", "Hiragino Mincho ProN", "游明朝", "MS PMincho", serif;
  color: black;
  padding: 0 5px;
}

content.container {
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
  height: 297mm;
  width: 210mm;
  padding: 20mm;
  box-sizing: border-box;
  overflow: hidden;
}

#write {
  max-width: 60em;
  padding: 5px;
}

p {
  margin: 1rem 0;
  padding: 5px 0;
  line-height: normal;
}

/**
* Block Elements
*/

h1 {
  font: 'Noto Serif JP';
  text-align: center;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: capitalize;
  font-variant: small-caps;
  border-bottom-width: 1px;
  border-bottom-style: none;
}

/* p::first-letter {
  font-size: 14pt;
  color: darkred;
} */

h1 {
  font-size: 16pt;
  margin-bottom: 1rem;
}

h2 {
  font-size: 12pt;
  margin-bottom: 5px;
}

h1, h2 {
  margin-top: 20px;
  padding: 0 0;
  font-weight: bold;
}

h3, h4{
  font-size: 10pt;
  font-weight: bold;
}

h5, h6 {
  font-size: 8pt;
  font-weight: bold;
}

em, .cm-keyword {
  text-decoration: underline;
  padding-bottom: 1px;
  text-decoration-thickness: 1px;
}

blockquote, p, ul, ol, li, .cm-s-inner, .footnote-line, th, td, footer {
  font-size: 8pt;
  font: "Noto Serif JP";
  margin: .5em 0;
}


.title, .totalPages, .pageNumber {
  font-size: 8pt;
  font: "Noto Serif JP";
}


table {
  width: 100% !important;
  border-collapse: collapse;
  counter-increment: table;
  margin: 1rem 0;
  table-layout: fixed;
  border: 1px solid darkgray;
  border-spacing: 0px;
  margin-left:auto;
  margin-right:auto;
  empty-cells: show;
}

thead {
  background-color: #eee;
}

th, td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: keep-all;
  white-space: pre-wrap;
  text-align: center;
}

th {
  font-weight: bold;
  border: 1px solid darkgray;
  border-bottom: 1px double darkgray;
}

td {
  border-bottom: none;
  border-right: 1px solid darkgray;
  position: relative;
  padding-bottom: 1px;
}

td:empty::after {
  content: "\00a0";
}

ul {
  list-style-type: disc;
}

ol {
  margin: 1em 0;
}

li {
  margin: 1em 0 !important;
}

blockquote, strong {
  color: darkred;
}

blockquote {
  background: none;
  border-left: 1px solid darkgray;
  margin-left: 30px;
  margin-right: 30px;
  font-style: italic;
}

blockquote cite {

}

/* for inline code */
:not(pre):not(.hljs) > code {
  color: #140;
  font-size: 6pt;
  font-weight: light;
  border: none;
  border-spacing: 2px;
  background: white !important;
}

/* Styling for preformatted text */
pre {
  background-color: white;
  border: 1px solid darkgray;
  margin: 1em 0;
  padding: .5em;
  border-radius: 4px;
  /* Uncomment if you want a shadow effect */
  /* box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px; */
}

/* code text long line */
.force-word-wrap pre code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: keep-all;
}

/**
* Inline Elements
*/
a {
  color: darkblue;
}

.footnote-line {
  color: darkgray;
}

em, strong {
  font-style: normal;
}

i {
  font-style: italic;
}

s, del, strike {
  text-decoration: line-through;
  text-decoration-style: double;
  text-underline-offset: -3pt;
}

mark {
  background-color: #dd3;
}

#footer p {
    border-top: 1px solid darkgray;
    margin-top: 5px;
    padding: 5px;
}

hr {
  padding: 2rem;
  border: none;
}

/* Codes */
code {
  color: #000;
  font-size: 6pt;
  line-height: 12pt;
  word-break: break-word;
  white-space: pre-wrap;
}

.cm-s-inner {
    border-left: 1px solid darkgray;
    padding-left: 1em;
    margin: 1rem 0;
}

.cm-s-inner * {
    color: darkgray;
}

/* Numbering */
h1 {
    counter-reset: h2;
}

h2 {
    counter-reset: h3;
}

#write h2:before {
    counter-increment: h2;
    content: counter(h2) ". ";
}

#write h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) ". ";
}

/**
* Diagrams
*/
.language-mermaid {

}

/**
* Source Code Mode
*/

/**
* Control UI (optional)
*/

/* Custom Class */
img {
  white-space: nowrap;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  width: 100px;
  height: auto;
}

.document-id, .timestamp, .from-group, .from-name, .from-mark, .closing-text, .closing, .signature {
    text-align: right;
}

.subtitle, .memo-mark {
    text-align: center;
}

caption {
  background: none repeat scroll 0 0 #F5F5F5;
  text-align: center;
  padding: 1rem 1.4rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: keep-all;
  white-space: pre-wrap;
}

.table-caption {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.table-caption p {
  vertical-align: baseline;
  border-bottom: none darkgray;
  margin: 0;
  padding: 0;
}

.table-caption-desc {
  vertical-align: baseline;
  font-size: 11px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.image-captions-figure {
  background-color: white;
}

.image-captions-caption {
  background-color: white;
}

.date {
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.unit {
  text-align: right;
  display: inline-block;
}

/* Prevent copy */
* {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

/* Prevent Right Click [WIP] */
* {
  pointer-events: none;
}

/* Fix print size */
@page {
  margin: 10mm;
  /* size: A4; */
}

/* Mobile config */
@media only screen and (min-width: 1400px) {
  #write {
    max-width: 1100px;
  }
}

/* Print config */
@media print {
  .container {
      page-break-after: always;
    }
    h1:first-of-type {
      page-break-before: avoid;
    }
    h1 {
      page-break-before: always;
    }
    h2, h3, h4, h5, h6 {
      page-break-after: avoid;
    }
    /* optional */
    .internal-embed {
      page-break-after: avoid;
      page-break-before: avoid;
    }

  html {
    margin: 0 !important;
  }

  h1 {
    /* position: absolute; */
    top: 0;
  }

  h1, h2, h3, h4, h5, h6, p, ul, li, ol {
    background: none !important;
    outline: none !important;
    border: none !important;
    text-shadow: none !important;
  }

  table {
    width: 100%;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    empty-cells: show;
  }

  th, td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: keep-all;
    white-space: pre-wrap;
    background: none !important;
    outline: none !important;
    text-shadow: none !important;
    border: 1px solid darkgray !important;
  }

  td {
    min-height: 80px;
  }

  a {
    text-decoration: none !important;
    text-decoration-thickness: auto;
    outline: none !important;
    text-shadow: none !important;
    border: none !important;
  }

  /* a[aria-label]::after {
    display: inline !important;
    content: " (" attr(aria-label) ")" !important;
    color: darkgray !important;
    font-size: 70% !important;
    text-decoration: none !important;
  }
 */

 mark {
  background-color: #dd3;
}

  pre,
  code span,
  code {
    /* color: black !important; */
    background-color: white !important;
  }

  /* General code styling */
  code {
    padding: 0 .2em;
    color: black;
  }

  /* Styling for preformatted text */
  pre {
    border: 1px solid darkgray !important;
    margin: 1em 0;
    padding: .5em;
    border-radius: 4px;
    /* Uncomment if you want a shadow effect */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px; */
  }

  /* Code block within preformatted text */
  pre > code {
    font-size: 10px;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  /* Token (hljs) styling within code blocks */
  pre > code .hljs-em { font-style: italic; }
  pre > code .hljs-link { text-decoration: underline; }
  pre > code .hljs-strikethrough { text-decoration: line-through; }
  pre > code .hljs-{ color: #100F0F; }            /* black */
  pre > code .hljs-keyword { color: #AF3029; }    /* red-600 */
  pre > code .hljs-number { color: #66800B; }     /* green-600 */
  pre > code .hljs-variable { color: #24837B; }   /* cyan-600 */
  pre > code .hljs-punctuation { color: inherit; }
  pre > code .hljs-property { color: inherit; }
  pre > code .hljs-operator { color: inherit; }
  pre > code .hljs-def { color: #AF3029; }        /* red-600 */
  pre > code .hljs-atom { color: #BC5215; }       /* orange-600 */
  pre > code .hljs-variable-2 { color: #AD8301; } /* yellow-600 */
  pre > code .hljs-type { color: #24837B; }       /* cyan-600 */
  pre > code .hljs-comment { color: #403E3C; }    /* base-800 */
  pre > code .hljs-string { color: #BC5215; }     /* orange-600 */
  pre > code .hljs-string-2 { color: #AF3029; }   /* red-600 */
  pre > code .hljs-meta { color: #403E3C; }       /* base-800 */
  pre > code .hljs-qualifier { color: #403E3C; }  /* base-800 */
  pre > code .hljs-builtin { color: #24837B; }    /* cyan-600 */
  pre > code .hljs-bracket { color: #878580; }    /* base-500 */
  pre > code .hljs-tag { color: #AF3029; }        /* red-600 */
  pre > code .hljs-attribute { color: #AD8301; }  /* yellow-600 */
  pre > code .hljs-hr { color: #878580; }         /* base-500 */
  pre > code .hljs-link { color: #24837B; }       /* cyan-600 */


  img {
    width: 100%;
    max-height:  200px;
    align-items: center;
    display: block;
    margin: auto;
    object-fit: contain;
    white-space: nowrap;
  }

  .table-caption {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .table-caption p {
    vertical-align: baseline;
    border-bottom: none darkgray;
    margin: 0;
    padding: 0;
  }

  .table-caption-desc {
    vertical-align: baseline;
    font-size: 11px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .image-captions-figure {
    background-color: white;
  }

  .image-captions-caption {
    background-color: initial;
  }

}